@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #1d1818;
    --secondary: rgba(255, 229, 215, 0.199);
    --tertiary: rgba(253, 112, 31, 0.281);
  }
  
*::-webkit-scrollbar {
    width: 17px;
    background-color: #18181b ;
  }
  
  *::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 6px;
    border: 3px solid var(--primary);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--tertiary);
  }





  /* Cor dos ícones da toolbar */
  .custom-toolbar .ql-toolbar .ql-stroke {
    stroke: #e3581c; 
  }
  
  .custom-toolbar .ql-toolbar .ql-fill {
    fill: #e3581c; 
  }
  
  /* Cor do texto dos botões */
  .custom-toolbar .ql-toolbar .ql-picker-label,
  .custom-toolbar .ql-toolbar .ql-picker-item {
    color: #e3581c; /* Cor do texto dos botões */
  }
  
  
  /* Mudar cor dos botões de seleção, se necessário */
  .custom-toolbar .ql-picker-options {
    background-color: #333; /* Cor de fundo das opções de dropdown */
    color: orange; /* Cor do texto das opções */
  }
  
  /* Botão para remover formatação */
  .custom-toolbar .ql-clean {
    color: orange; /* Cor do botão limpar formatação */
  }
  